@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    min-width: 320px;
  }

  ::selection {
    background: #bae6fd;
    color: #0f172a;
  }
}
